# Dependencies
node_modules/

# Environment variables (SABSE ZAROORI)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Mac OS system files
.DS_Store